/**
 * Custom scrollbar.
 *
 * @since 3.0.0
 */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #888888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555555;
}


/**
 * Default rule.
 *
 * @since 3.0.0
 */
a, input[type=submit], button, .button {
	&:hover {
		cursor: pointer;
	}
}


/**
 * Layout.
 *
 * @since 3.0.0
 */
.screen-height {
	height: calc(100vh - 80px);
}


/**
 * S Technologies Animated Logo Icon.
 *
 * @since 3.0.0
 */
.STechBD_Animated_Icon {
	.Green_Shadow, .Green_Main, .Blue_Shadow, .S_Shadow, .Yellow_Main, .S_Main, .Red_Shadow, .Yellow_Shadow, .Blue_Main, .Red_Main {
		stroke-width: 0;
		transition: fill 3s ease;
	}

	.Circle {
		fill: #fff;
	}

	.Green_Main {
		fill: #18b13d;
	}

	.Green_Shadow {
		fill: #005e00;
	}

	.Blue_Main {
		fill: #4c5fab;
	}

	.Blue_Shadow {
		fill: #00004d;
	}

	.Yellow_Main {
		fill: #fdc609;
	}

	.Yellow_Shadow {
		fill: #d69003;
	}

	.Red_Main {
		fill: #eb2e40;
	}

	.Red_Shadow {
		fill: #a10000;
	}

	.S_Main {
		fill: #333;
	}

	.S_Shadow {
		fill: #000;
	}

}


/**
 * Loader of the page.
 *
 * @since 1.0.0
 */
.loader {
	height: 100%;
	width: 100%;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 1001;

	> .loader-position {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	> .circular {
		animation: rotate 2s linear infinite;
		transform-origin: center center;

		> .path {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			stroke-linecap: round;
		}

		@keyframes rotate {
			100% {
				transform: rotate(360deg);
			}
		}

		@keyframes dash {
			0% {
				stroke-dasharray: 1, 200;
				stroke-dashoffset: 0;
			}

			50% {
				stroke-dasharray: 89, 200;
				stroke-dashoffset: -35px;
			}

			100% {
				stroke-dasharray: 89, 200;
				stroke-dashoffset: -124px;
			}
		}

		@keyframes color {
			100%,
			0% {
				stroke: #d62d20;
			}

			40% {
				stroke: #0057e7;
			}

			66% {
				stroke: #008744;
			}

			80%, 90% {
				stroke: #ffa700;
			}
		}
	}

	> .circular-size {
		height: 100px;
		width: 100px;
	}
}

html.dark {
	.loader {
		background: #111111;

		> .circular {
			> .path {
				stroke: white;
			}
		}
	}
}