@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
	) rgb(var(--background-start-rgb));
}*/


/* Default Theme */
:root {
	--primary: #4F46E5;
	--secondary: #4338CA;
}

/* Red Theme */
.theme-red {
	--primary: #DC2626;
	--secondary: #B91C1C;
}

/* Green Theme */
.theme-green {
	--primary: #16A34A;
	--secondary: #15803D;
}

/* Teal Theme */
.theme-teal {
	--primary: #0D9488;
	--secondary: #0F766E;
}

/* Blue Theme */
.theme-blue {
	--primary: #2563EB;
	--secondary: #1D4ED8;
}

/* Indigo Theme */
.theme-indigo {
	--primary: #4F46E5;
	--secondary: #4338CA;
}

/* Purple Theme */
.theme-purple {
	--primary: #9333EA;
	--secondary: #7E22CE;
}


/* Theme Switcher */
.text-primary {
	color: var(--primary);
}

.text-secondary {
	color: var(--secondary);
}

.bg-primary {
	background: var(--primary);
}

.bg-secondary {
	background: var(--secondary);
}

.border-primary {
	border-color: var(--primary);
}

.border-secondary {
	border-color: var(--secondary);
}
